/*Mobile and Tablet*/
@media (max-width: 1023px) {
    .hide-on-mobile-tablet{
        display: none;
    }
    .hide-margin-on-mobile-tablet{
        margin:0;
    }
    .hide-padding-on-mobile-tablet{
        padding: 0;
    }
    .header{
        padding: 20px 0 15px 0;
        min-height: var(--header-height-mobile-tablet) ;
        width: 100%;
        flex-direction: column;
        background-color:#555555;
    }
    .slider{
        margin-top: var(--header-height-mobile-tablet);
        background-size: cover;
        height: 1300px;
        padding:0;
    }
    .header-img__logo{
        width: 160px;
        height: 38px;
    }
    .header__menu-icon{
        padding:0;
    }
    .text__about-slogan{       
        font-size: 1.2rem;
        margin-top: 40px;
        font-weight: 400;
    }
}


/*Tablet*/
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
    .header-img__logo{
        width: 160px;
        height: 38px;
    }
    .text__about{
        padding: 270px 0 200px 0;
    }
    .text__about-heading{
        font-size: 3.5rem;
        font-weight: 700;
    }
    .text__about-heading::after{
        width: 180px;
    }
    .slider__search{
        width: var(--slider-width-tablet);
        margin-top: 70px;
        padding: 26px 0;
    }
    .slider__menu{
        flex-direction: column;
    }
    .slider__menu-list{
        width: var(--slider-width-tablet);
        margin-top: 24px;
        border-radius: 2px;
    }
}

/*Mobile*/
@media (max-width: 739px) {
    .hide-on-mobile{
        display: none;
    }
    .slider{
        text-align: center;
    }
    .text__about-heading{
        width: 270px;
        color: #ffffff;
        font-size: 3rem;
        line-height: 3rem;
    }
    .text__about-slogan{
        padding: 0 10px;
    }
    .slider__search{
        width: 268px;
        height: 48px;
    }
    .slider__search-choose{
        padding: 0 0 0 10px;
    }
    .slider__search-choose-heading {
        white-space: nowrap;
        text-align: left;
        padding: 0;
    }.slider__menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .slider__menu-list{
        margin: 0 0 20px 0;
        width: 250px;
    }

}